<div class="container">

  <div class="page">
    <div class="user" *ngIf="user">

      <div class="avatar">
        <img [src]="user.pictureUrl">
      </div>

      <div class="firstName">
        Имя: {{user.firstName}}
      </div>

      <div class="secondName">
        Фамилия: {{user.secondName}}
      </div>

      <div class="btn">
        <a [routerLink]="'tickets'" color="accent" mat-flat-button>
          Мои Билеты
        </a>
      </div>

      <div class="btn">
        <a [routerLink]="" color="accent" mat-flat-button>
          Редактировать Профиль
        </a>
      </div>

    </div>
  </div>

  <app-loading-page [isLoading]="isLoading"></app-loading-page>

</div>


