<div class="container">
  <div class="page">
    <ng-container *ngIf="!storageService.getCurrentLogin()">

      <mat-card>
        <mat-card-title>
          Sign In
        </mat-card-title>

        <mat-card-content>
          <form [formGroup]="singInForm" (ngSubmit)="singIn()">

            <mat-form-field>
              <input
                matInput
                placeholder="username"
                formControlName="username"
                [(ngModel)]="login.username"
                (focus)="showCheckYourSetDataAlert = false"
                required>
              <mat-error *ngFor="let validation of validationMessages.username">
                <mat-error class="error-message" *ngIf="formValidationService.isFormControlInvalid(singInForm.get('username'), validation.type)">
                  {{validation.message}}
                </mat-error>
              </mat-error>

              <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="password"
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
                [(ngModel)]="login.password"
                (focus)="showCheckYourSetDataAlert = false"
                required>
              <mat-error *ngFor="let validation of validationMessages.password">
                <mat-error class="error-message" *ngIf="formValidationService.isFormControlInvalid(singInForm.get('password'), validation.type)">
                  {{validation.message}}
                </mat-error>
              </mat-error>

              <mat-icon matSuffix (click)="toggle()" *ngIf="singInForm.get('password').value" style="cursor: pointer;">
                {{hide ? 'visibility' : 'visibility_off'}}
              </mat-icon>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

            <button class="sign-in-btn" color="primary" mat-raised-button type="submit" [disabled]="singInForm.invalid">
              Sign In
            </button>

            <div *ngIf="showCheckYourSetDataAlert" class="login-not-found-message">
              Check Your set Data!
              <br>
              Username or password incorrect!
            </div>

          </form>
        </mat-card-content>
      </mat-card>

    </ng-container>
  </div>

  <app-loading-page [isLoading]="isLoading"></app-loading-page>

</div>
