<div class="container">
  <div class="page">
    <ng-container *ngIf="movies">

      <h1>Movies</h1>

      <div class="movies">
        <div class="movie" *ngFor="let movie of movies" >
          <div class="movie-card">
            <a class="jump-this-movie-page" [routerLink]="movie.id">
              <h2 class="title" *ngIf="movie.title">
                  {{movie.title}}
              </h2>
            </a>

            <p class="poster">
              <a class="jump-this-movie-page" [routerLink]="movie.id">
                <img [src]="movie.picture ? 'data:image/jpeg;base64,' + movie.picture : 'http://placehold.it/200x300'" >
              </a>
            </p>


            <div class="age-limit">{{movie.ageLimit}}+</div>

            <p class="genres">
              <span *ngFor="let genre of movie.genres">{{genre}} </span>
            </p>
          </div>
        </div>
      </div>

      <app-paginator
        *ngIf="this.paginator"
        [elementsName]="'Фильмов'"
        [paginator]="this.paginator"
        [showBobblesPaginator]="true"
        (changePageNumberEvent)="updatePageNumber($event)"
        (changePageSizeEvent)="updatePageSize($event)"
      ></app-paginator>

      <h3 class="movies-not-found" *ngIf="movies.length == 0">
        Something went wrong! No movies found!
      </h3>
    </ng-container>


  </div>


  <app-loading-page [isLoading]="isLoading"></app-loading-page>

</div>
