<div class="container">
  <div class="page">
    <h2>Movies</h2>

    <div class="movies">
      <div *ngFor="let movie of movies" class="movie">

        <div class="picture">
          <img [src]="'data:image/jpeg;base64,' + movie.picture" height="300">
        </div>

        <a [routerLink]="movie.id" color="accent" mat-flat-button>
          <div class="title">{{movie.title}}</div>
        </a>

        <div class="ageLimit">{{movie.ageLimit}}+</div>

        <div class="genres">
          <div *ngFor="let genre of movie.genres">{{genre}}</div>
        </div>

      </div>
    </div>

    <app-paginator
      *ngIf="this.paginator"
      [elementsName]="'Фильмов'"
      [paginator]="this.paginator"
      [showBobblesPaginator]="true"
      (changePageNumberEvent)="updatePageNumber($event)"
      (changePageSizeEvent)="updatePageSize($event)"
    ></app-paginator>
  </div>

  <app-loading-page [isLoading]="isLoading"></app-loading-page>

</div>
