<div class="container">
  <div class="page">
    <ng-container *ngIf="cinemas">

      <h1>Our Cinemas</h1>

      <div class="cinemas">
        <div class="cinema" *ngFor="let cinema of cinemas">
          <div class="cinema-card">

            <h2 *ngIf="cinema.name">{{cinema.name}}</h2>

            <div class="cinema-picture">
              <img [src]="cinema.picture ? 'data:image/jpeg;base64,' + cinema.picture : 'http://placehold.it/200x300'">
            </div>

            <p class="address">
              Address: {{cinema.address}}
            </p>

            <a class="btn" [routerLink]="['/cinemas/' + cinema.id]" mat-flat-button>
              Jump to the cinema pages
            </a>

          </div>
        </div>
      </div>

      <h3 *ngIf="cinemas.length == null" class="cinemas-not-found">
        Something went wrong! Cinemas not found!
      </h3>
    </ng-container>
  </div>

  <app-loading-page [isLoading]="isLoading"></app-loading-page>

</div>
