<ng-container *ngIf="paginator && paginator.totalPages > 0">
  <div class="paginator">

    <span>{{elementsName}} на странице:</span>

    <mat-select [(value)]="pageSize">
      <mat-option *ngFor="let pageSize of pageSizeOptions"
                  [value]="pageSize"
                  (onSelectionChange)="changePageSize(pageSize)">
        {{pageSize}}
      </mat-option>
    </mat-select>

    <span>
      {{((paginator.pageNumber - 1)  * pageSize) + 1}} -
      <span *ngIf="isLastPage()">{{paginator.totalElements}}</span>
      <span *ngIf="!isLastPage()">{{paginator.pageNumber * pageSize}}</span>
      из {{paginator.totalElements}}
    </span>

    <span class="btn">
    <span *ngIf="paginator.pageNumber <= 1">
      <button class="first btn-off" mat-flat-button><<<</button>
      <button class="previous btn-off" mat-flat-button><</button>
    </span>
    <span *ngIf="paginator.pageNumber > 1">
      <button class="first" mat-flat-button (click)="showFirstPage()"><<<</button>
      <button class="previous" mat-flat-button (click)="showPreviousPage()"><</button>
    </span>

    <span *ngIf="paginator.pageNumber < paginator.totalPages">
      <button class="next" mat-flat-button (click)="showNextPage()">></button>
      <button class="last" mat-flat-button (click)="showLastPage()">>>></button>
    </span>
    <span *ngIf="paginator.pageNumber >= paginator.totalPages">
      <button class="next btn-off" mat-flat-button>></button>
      <button class="last btn-off" mat-flat-button>>>></button>
    </span>
  </span>

    <div *ngIf="showBobblesPaginator">
      <app-bubbles-paginator
        [pageNumber]="paginator.pageNumber"
        [totalPages]="paginator.totalPages"
        [pageRange]="2"
        (pageChangeEvent)="showPage($event)"
      ></app-bubbles-paginator>
    </div>

  </div>

</ng-container>

<ng-container *ngIf="paginator && paginator.totalPages == 0">
  Total Pages equals 0!
</ng-container>
