<div class="container">

  <h2 *ngIf="!isLoading && !cinema">
    Something went wrong! Cinema not found.
  </h2>

  <div class="page">
    <div class="cinema" >
      <div class="cinema-card" *ngIf="cinema">

        <h1>{{cinema.name}}</h1>

        <p class="cinema-picture">
          <img [src]="cinema.picture ? 'data:image/jpeg;base64,' + cinema.picture : 'http://placehold.it/300x450'">
        </p>

        <p class="cinema-address">
          Адресс: {{cinema.address}}
        </p>

        <div class="cinema-halls">
          <p class="hall hall-btn" *ngFor="let hall of cinemaHalls">
            <a [routerLink]="'/halls/' + hall.id + '/sessions'" color="accent" mat-flat-button>
              Jump to this {{hall.hallNumber}} hall sessions.
            </a>
          </p>
          <p *ngIf="cinemaHalls && cinemaHalls.length == 0">
            This cinema has no open halls yet!
          </p>
        </div>

        <ng-container *ngIf="currentLoginService.isLoginAdmin">
          <button (click)="addHall()" *ngIf="!isHallAdded">Add Hall</button>
          <button *ngIf="isHallAdded">Added...</button>
        </ng-container>

      </div>
    </div>
  </div>

  <app-loading-page [isLoading]="isLoading"></app-loading-page>

</div>
