<div class="container">

  <div class="page">
    <ng-container *ngIf="user">
      <div class="my-profile-card">

        <h1>My Profile</h1>

        <div class="avatar">
          <img [src]="user.avatar ? 'data:image/jpeg;base64,' + user.avatar : '../../../../../assets/img/user/noavatar.png'">
        </div>

        <p class="title user-name">
          <ng-container *ngIf="user.firstName">{{user.firstName}} </ng-container>
          <ng-container *ngIf="user.firstName">{{user.secondName}}</ng-container>
        </p>

        <h2 *ngIf="currentLoginService.isLoginAdmin" class="is-user-admin">admin</h2>

        <p class="email" *ngIf="user.email">
          Email: {{user.email}}
        </p>

        <p class="phone-number" *ngIf="user.phoneNumber">
          Phone Number: {{user.phoneNumber}}
        </p>

        <p>
          <a class="my-tickets-link" [routerLink]="'/my-tickets'" color="accent" mat-flat-button>
            My Tickets
          </a>
        </p>

        <p>
          <a class="my-wallet-link" [routerLink]="'/my-wallet'" color="accent" mat-flat-button>
            My Wallet
          </a>
        </p>

      </div>
    </ng-container>
  </div>

  <app-loading-page [isLoading]="isLoading"></app-loading-page>

</div>
