<div class="container">
  <div class="page">
    <div class="cinema" *ngIf="cinema">

      <div class="name">
        <h2>{{cinema.name}}</h2>
      </div>

      <div class="picture">
        <img [src]="'data:image/jpeg;base64,' + cinema.picture" height="450">
      </div>

      <div class="address">
        Адресс: {{cinema.address}}
      </div>

      <div class="btn">
        <a [routerLink]="['halls']" color="accent" mat-flat-button>
          Show Cinema Halls
        </a>
      </div>

    </div>
  </div>

  <app-loading-page [isLoading]="isLoading"></app-loading-page>

</div>
