<div class="container">
  <div class="page">


    <h2>Билеты</h2>

    <div class="tickets">
      <div class="ticket" *ngFor="let ticket of tickets">

        <div class="row">
          {{ticket.rowNumber}} Ряд
        </div>

        <div class="place">
          {{ticket.placeNumber}} Место
        </div>

        <div class="btn">
          <a [routerLink]="''" color="accent" mat-flat-button>
            Подробнее
          </a>
        </div>

      </div>
    </div>

    <h3 class="tickets-not-found" *ngIf="tickets.length == 0">
      Нет Купленных Билетов!
    </h3>

  </div>

  <app-loading-page [isLoading]="isLoading"></app-loading-page>

</div>
