<div class="container">
  <div class="page" *ngIf="user">
    <mat-card>
      <mat-card-content>
        <div class="rows">
          <div *ngFor="let row of rows" class="row">
            row: {{row.rowNumber}}
            <app-row [row]="row"
                     (selectRowEvent)="selectTicket($event)"
                     (unSelectRowEvent)="unselectTicket($event)"
            ></app-row>
          </div>

          <div class="btn">
          <button color="accent" mat-flat-button (click)="buySelectedTickets()" class="btn">
            Buy Selected Ticket
          </button>
        </div>

          <div class="btn">
            <button color="accent" mat-flat-button (click)="deleteSelectedTickets()" class="btn">
              Delete Selected Ticket
            </button>
          </div>
        </div>

        <div class="colors">
          <ul>
            <li><button class="red box" disabled></button><span>Place already sold</span></li>
            <li><button class="orange box" disabled></button><span>Place already reserved</span></li>
            <li><button class="yellow box" disabled></button><span>You bought a place</span></li>
            <li><button class="green box" disabled></button><span>You select a place</span></li>
            <li><button class="blue box" disabled></button><span>Place in processing</span></li>
            <li><button class="white box" disabled></button><span>Free place</span></li>
          </ul>
        </div>

        <div class="reserved-places" *ngIf="true">
          <p><strong>Selected places:</strong></p>
          <p *ngFor="let ticket of selectedTickets">
            {{' place: ' + ticket.placeNumber + ' row: ' + ticket.rowNumber + ','}}
          </p>
          <p>Total Cost: {{totalCost}}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <app-loading-page [isLoading]="isLoading"></app-loading-page>
</div>
