.rows
{
  text-align: center;
}
.row
{
  margin: 10px 0px;
}
.btn
{
  margin-top: 5px;
}
ul
{
  display: flex;
  list-style-type: none;
  flex-direction: column;
}
.box
{
  height: 27px;
  width: 46px;
}
.red
{
  background-color: red;
}
.orange
{
  background-color: orange;
}
.yellow
{
  background-color: yellow;
}
.green
{
  background-color: green;
}
.blue
{
  background-color: blue;
}
.white
{
  background-color: white;
}
