<div class="container">

  <div class="page">
    <div class="movie" *ngIf="movie">

          <div class="picture">
            <img [src]="movie.picture ? 'data:image/jpeg;base64,' + movie.picture : 'http://placehold.it/200x300'">
          </div>

          <div class="title">{{movie.title}}</div>

          <div class="duration">{{movie.duration}}</div>

          <div class="age-limit">{{movie.ageLimit}}+</div>

          <div class="genres">
            <div *ngFor="let genre of movie.genres">{{genre}}</div>
          </div>

          <div class="description">{{movie.description}}</div>

          <div class="btn">
            <a [routerLink]="['sessions']" color="accent" mat-flat-button>Go To Sessions</a>
          </div>

    </div>
  </div>

  <h3 class="movie-not-found" *ngIf="!movie">
    Что-то пошло не так! Фильм не найден.
  </h3>

  <app-loading-page [isLoading]="isLoading"></app-loading-page>

</div>
