<div class="container">

  <div *ngIf="!loading">

    <h2>Movies</h2>

    <div class="movies">
      <div *ngFor="let movie of movies" class="movie">

        <div class="picture">
          <img [src]="'data:image/jpeg;base64,' + movie.picture" height="300">
        </div>

        <a [routerLink]="[movie.id]" color="accent" mat-flat-button>
          <div class="title">{{movie.title}}</div>
        </a>

        <div class="ageLimit">{{movie.ageLimit}}+</div>

        <div class="genres">
          <div *ngFor="let genre of movie.genres">{{genre}}</div>
        </div>

      </div>
    </div>

    <app-paginator
      [elementsName]="'Фильмов'"
      [paging]="this.paging"
      [showBobblesPaginator]="true"
      (changePageNumberEvent)="updatePageNumber($event)"
      (changePageSizeEvent)="updatePageSize($event)"
    ></app-paginator>

  </div>

  <div *ngIf="loading">

    <app-loading-page></app-loading-page>

  </div>

</div>
