<div class="container">
  <div class="page">

    <h2>Cinemas</h2>

    <div class="cinemas">
      <div class="cinema" *ngFor="let cinema of cinemas">

        <div class="name">
          Cinema Name: {{cinema.name}}
        </div>

        <div class="address">
          Address: {{cinema.address}}
        </div>

        <div class="picture">
          <img [src]="'data:image/jpeg;base64,' + cinema.picture" height="300">
        </div>

        <div class="btn">
          <a [routerLink]="['/cinemas/' + cinema.id]" color="accent" mat-flat-button>
            Go To Cinema
          </a>
        </div>

      </div>
    </div>

  </div>

  <app-loading-page [isLoading]="isLoading"></app-loading-page>

</div>
