mat-card
{
  display: block;
  width: 50%;
  margin: 10% auto;
}
mat-card-title
{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
mat-form-field.cardMonthOfEnding, mat-form-field.cardYearOfEnding, mat-form-field.CVV
{
  display: inline-block;
  width: 33.3%;
}
.block, .wallet-balance
{
  display: block;
  width: 80%;
  margin: auto;
}

.deposit-btn
{
  display: block;
  width: 80%;
  margin: 20px auto;
}
.show-deposit-block-btn
{
  display: block;
  width: 80%;
  margin: 0 auto 20px;
  background-color: #62a048;
}
